//TIPOGRAFIA
$fuente_principal: 'Montserrat', sans-serif;


//COLORES
$verde: #4CB8B3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;

//tamaño de media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;